streamlit>=1.20.0
pygments>=2.16.0
# kmuto の Pygments スタイルを候補に入れるために GitHub 経由でインストール（master ブランチを使用）
git+https://github.com/kmuto/pygments-style-texlistings.git@master#egg=pygments-style-texlistings
